In [1]:
import sqlite3

In [2]:
db=sqlite3.connect("ineuron.db")

In [14]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 1E4D-DCE3

 Directory of C:\Users\PRASHANT KUMAR

12-04-2022  17:54    <DIR>          .
16-01-2022  13:18    <DIR>          ..
15-12-2019  12:13    <DIR>          .anaconda
14-02-2020  11:35    <DIR>          .android
17-01-2020  11:04    <DIR>          .AndroidStudio3.5
21-07-2020  17:20               145 .appletviewer
25-03-2022  10:52             1,010 .bash_history
29-06-2021  14:36    <DIR>          .cache
25-02-2022  09:33    <DIR>          .conda
15-10-2020  13:05                43 .condarc
08-02-2020  15:55    <DIR>          .config
28-11-2021  13:34    <DIR>          .continuum
14-06-2020  13:49    <DIR>          .dotnet
11-03-2020  18:33    <DIR>          .eclipse
17-01-2020  11:55                16 .emulator_console_auth_token
25-03-2022  09:44               214 .gitconfig
25-03-2022  09:04            12,288 .gitconfig.swp
17-01-2020  11:55    <DIR>          .gradle
07-02-2020  16:05    <DIR>          .idlerc
12-04-2022  16:44    <DIR>          .ipynb_checkpoints
15-12-2019  01:37    <DIR>          .ipython
19-12-2021  11:28    <DIR>          .jupyter
28-07-2020  20:31    <DIR>          .m2
14-12-2019  15:17    <DIR>          .nbi
29-06-2021  14:50    <DIR>          .p2
02-12-2021  09:25    <DIR>          .spyder-py3
11-03-2020  18:33    <DIR>          .tooling
25-03-2022  09:05               762 .viminfo
25-12-2021  16:01    <DIR>          .VirtualBox
14-12-2019  18:39    <DIR>          .vscode
13-03-2022  15:36    <DIR>          __pycache__
26-12-2021  09:38             3,504 21st dec(for,while).ipynb
24-08-2021  15:06    <DIR>          3D Objects
23-03-2022  17:10             7,566 Abstraction.ipynb
14-02-2020  12:38    <DIR>          AndroidStudioProjects
28-01-2022  11:39               149 arithmatic.py
04-04-2022  09:01            51,867 car.data
07-04-2022  16:34           628,633 carbon_nanotubes.csv
21-12-2021  12:45             7,578 conditional statement.ipynb
16-01-2022  15:37    <DIR>          Contacts
04-04-2022  12:44    <DIR>          Desktop
07-03-2022  18:09    <DIR>          Documents
07-04-2022  17:23    <DIR>          Downloads
29-06-2021  14:05    <DIR>          eclipse
29-06-2021  12:21    <DIR>          eclipse-workspace
02-02-2022  20:52            33,366 Exception Handling.ipynb
16-01-2022  15:37    <DIR>          Favorites
24-12-2021  14:54            13,457 for, while,lambda.ipynb
11-01-2022  16:25            34,720 function with argument,iterable,iterator.ipynb
29-12-2021  12:40            14,911 Function(23th Dec).ipynb
18-01-2022  16:02            67,764 generator,file operation.ipynb
01-04-2022  11:24            11,903 glass.data
16-10-2021  14:43    <DIR>          IBA_IOAPDATA
12-04-2022  17:52             8,192 ineuron.db
12-04-2022  17:54                 0 ineuron.db-journal
21-03-2022  15:51            51,131 Inheritance.ipynb
16-01-2022  15:37    <DIR>          Links
28-01-2022  12:37             8,176 modules and package.ipynb
07-04-2022  16:41            37,174 Mongodb.ipynb
16-01-2022  15:37    <DIR>          Music
13-03-2022  15:35               635 mydict.py
27-01-2022  11:26    <DIR>          OneDrive
13-03-2022  16:07             1,641 Oops(Part1).ipynb
13-03-2022  20:42            17,056 oops.ipynb
14-12-2019  15:55    <DIR>          Oracle
16-01-2022  15:37    <DIR>          Pictures
23-03-2022  17:10             9,704 polymorphism.ipynb
09-03-2022  09:11    <DIR>          PycharmProjects
25-03-2022  09:14    <DIR>          Python
19-01-2022  16:27            37,898 Questions.ipynb
16-01-2022  15:37    <DIR>          Saved Games
16-01-2022  15:37    <DIR>          Searches
14-12-2019  18:13    <DIR>          source
01-04-2022  13:05           124,230 sql connection(part-1).ipynb
04-04-2022  13:47           492,986 sql(part-2).ipynb
12-04-2022  17:54             8,742 SqlLite.ipynb
16-11-2020  19:41       114,273,560 Teams_windows_x64.exe
25-01-2022  21:15               179 test.log
18-01-2022  14:34                 0 test.txt
16-03-2022  21:25                22 test1.txt
25-01-2022  21:34               719 test2.log
18-01-2022  14:40                21 test2.txt
28-01-2022  11:31               154 test22.py
25-01-2022  21:38                 0 test3.log
18-01-2022  14:30                 0 text.txt
28-11-2021  09:11    <DIR>          Tracing
30-03-2022  15:47             1,858 Untitled.ipynb
04-12-2021  14:23            14,021 Untitled1.ipynb
11-01-2022  16:09            34,720 Untitled15.ipynb
12-01-2022  14:08             4,789 Untitled16.ipynb
05-12-2021  13:48            15,628 Untitled2.ipynb
18-12-2021  15:27            17,346 Untitled3.ipynb
22-01-2022  13:11            12,826 Untitled4.ipynb
19-12-2021  12:54             7,580 Untitled5.ipynb
21-12-2021  12:33             3,794 Untitled6.ipynb
23-03-2022  10:42                72 Untitled7.ipynb
23-03-2022  14:29                72 Untitled8.ipynb
16-01-2022  15:37    <DIR>          Videos
16-11-2020  19:16       102,233,600 webexapp.msi
27-12-2021  10:39            10,289 while.ipynb
              54 File(s)    218,318,711 bytes
              46 Dir(s)  118,102,159,360 bytes free

In [3]:
c=db.cursor()

In [8]:
c.execute('create table fsds(name text, batchid int,marks real)')

In [13]:
c.execute('insert into fsds values("Prashant Kumar",100,454.67)')

In [16]:
c.execute('insert into fsds values("Rajeev Kumar",100,450.67)')
c.execute('insert into fsds values("Nirmal Kumar",100,453.67)')
c.execute('insert into fsds values("Priyanshu Kumar",100,452.67)')
c.execute('insert into fsds values("Adarsh Kumar",100,456.67)')
c.execute('insert into fsds values("Kundan Kumar",100,458.67)')
c.execute('insert into fsds values("Anand Kumar",100,459.67)')

In [4]:
c.execute('select * from fsds')

In [5]:
c.fetchall()

[('Prashant Kumar', 100, 454.67),
 ('Rajeev Kumar', 100, 450.67),
 ('Nirmal Kumar', 100, 453.67),
 ('Priyanshu Kumar', 100, 452.67),
 ('Adarsh Kumar', 100, 456.67),
 ('Kundan Kumar', 100, 458.67),
 ('Anand Kumar', 100, 459.67)]

In [19]:
data=c.execute('select * from fsds')

In [22]:
for i in data:
    print(i)

('Rajeev Kumar', 100, 450.67)
('Nirmal Kumar', 100, 453.67)
('Priyanshu Kumar', 100, 452.67)
('Adarsh Kumar', 100, 456.67)
('Kundan Kumar', 100, 458.67)
('Anand Kumar', 100, 459.67)

In [23]:
db.commit()

In [24]:
db.close()

In [3]:
db=sqlite3.connect("ineuron.db")

In [3]:
c=db.cursor()

In [4]:
data=c.execute("select * from fsds where marks > 400")

In [5]:
for i in data:
    print(i)

('Prashant Kumar', 100, 454.67)
('Rajeev Kumar', 100, 450.67)
('Nirmal Kumar', 100, 453.67)
('Priyanshu Kumar', 100, 452.67)
('Adarsh Kumar', 100, 456.67)
('Kundan Kumar', 100, 458.67)
('Anand Kumar', 100, 459.67)

In [10]:
data=c.execute("select * from fsds where name ='Prashant Kumar'")

In [11]:
for i in data:
    print(i)

('Prashant Kumar', 100, 454.67)

In [12]:
data=c.execute("select name ,marks from fsds")

In [13]:
for i in data:
    print(i)

('Prashant Kumar', 454.67)
('Rajeev Kumar', 450.67)
('Nirmal Kumar', 453.67)
('Priyanshu Kumar', 452.67)
('Adarsh Kumar', 456.67)
('Kundan Kumar', 458.67)
('Anand Kumar', 459.67)

In [14]:
data=c.execute('select name,marks from fsds order by marks')

In [15]:
for i in data:
    print(i)

('Rajeev Kumar', 450.67)
('Priyanshu Kumar', 452.67)
('Nirmal Kumar', 453.67)
('Prashant Kumar', 454.67)
('Adarsh Kumar', 456.67)
('Kundan Kumar', 458.67)
('Anand Kumar', 459.67)

In [16]:
db.close()

In [17]:
db=sqlite3.connect("person.db")

In [18]:
c=db.cursor()

In [19]:
c.execute("create table person_table(name text,emailid text,age int,salary real)")

In [20]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 1E4D-DCE3

 Directory of C:\Users\PRASHANT KUMAR

14-04-2022  08:01    <DIR>          .
16-01-2022  13:18    <DIR>          ..
15-12-2019  12:13    <DIR>          .anaconda
14-02-2020  11:35    <DIR>          .android
17-01-2020  11:04    <DIR>          .AndroidStudio3.5
21-07-2020  17:20               145 .appletviewer
25-03-2022  10:52             1,010 .bash_history
29-06-2021  14:36    <DIR>          .cache
25-02-2022  09:33    <DIR>          .conda
15-10-2020  13:05                43 .condarc
08-02-2020  15:55    <DIR>          .config
28-11-2021  13:34    <DIR>          .continuum
14-06-2020  13:49    <DIR>          .dotnet
11-03-2020  18:33    <DIR>          .eclipse
17-01-2020  11:55                16 .emulator_console_auth_token
25-03-2022  09:44               214 .gitconfig
25-03-2022  09:04            12,288 .gitconfig.swp
17-01-2020  11:55    <DIR>          .gradle
07-02-2020  16:05    <DIR>          .idlerc
12-04-2022  16:44    <DIR>          .ipynb_checkpoints
15-12-2019  01:37    <DIR>          .ipython
19-12-2021  11:28    <DIR>          .jupyter
28-07-2020  20:31    <DIR>          .m2
14-12-2019  15:17    <DIR>          .nbi
29-06-2021  14:50    <DIR>          .p2
02-12-2021  09:25    <DIR>          .spyder-py3
11-03-2020  18:33    <DIR>          .tooling
25-03-2022  09:05               762 .viminfo
25-12-2021  16:01    <DIR>          .VirtualBox
14-12-2019  18:39    <DIR>          .vscode
13-03-2022  15:36    <DIR>          __pycache__
26-12-2021  09:38             3,504 21st dec(for,while).ipynb
24-08-2021  15:06    <DIR>          3D Objects
23-03-2022  17:10             7,566 Abstraction.ipynb
14-02-2020  12:38    <DIR>          AndroidStudioProjects
28-01-2022  11:39               149 arithmatic.py
04-04-2022  09:01            51,867 car.data
07-04-2022  16:34           628,633 carbon_nanotubes.csv
21-12-2021  12:45             7,578 conditional statement.ipynb
16-01-2022  15:37    <DIR>          Contacts
04-04-2022  12:44    <DIR>          Desktop
07-03-2022  18:09    <DIR>          Documents
07-04-2022  17:23    <DIR>          Downloads
29-06-2021  14:05    <DIR>          eclipse
29-06-2021  12:21    <DIR>          eclipse-workspace
02-02-2022  20:52            33,366 Exception Handling.ipynb
16-01-2022  15:37    <DIR>          Favorites
24-12-2021  14:54            13,457 for, while,lambda.ipynb
11-01-2022  16:25            34,720 function with argument,iterable,iterator.ipynb
29-12-2021  12:40            14,911 Function(23th Dec).ipynb
18-01-2022  16:02            67,764 generator,file operation.ipynb
01-04-2022  11:24            11,903 glass.data
16-10-2021  14:43    <DIR>          IBA_IOAPDATA
12-04-2022  18:00             8,192 ineuron.db
21-03-2022  15:51            51,131 Inheritance.ipynb
16-01-2022  15:37    <DIR>          Links
28-01-2022  12:37             8,176 modules and package.ipynb
07-04-2022  16:41            37,174 Mongodb.ipynb
16-01-2022  15:37    <DIR>          Music
13-03-2022  15:35               635 mydict.py
27-01-2022  11:26    <DIR>          OneDrive
13-03-2022  16:07             1,641 Oops(Part1).ipynb
13-03-2022  20:42            17,056 oops.ipynb
14-12-2019  15:55    <DIR>          Oracle
14-04-2022  08:01             8,192 person.db
16-01-2022  15:37    <DIR>          Pictures
23-03-2022  17:10             9,704 polymorphism.ipynb
09-03-2022  09:11    <DIR>          PycharmProjects
25-03-2022  09:14    <DIR>          Python
19-01-2022  16:27            37,898 Questions.ipynb
16-01-2022  15:37    <DIR>          Saved Games
16-01-2022  15:37    <DIR>          Searches
14-12-2019  18:13    <DIR>          source
01-04-2022  13:05           124,230 sql connection(part-1).ipynb
04-04-2022  13:47           492,986 sql(part-2).ipynb
14-04-2022  08:00            14,812 SqlLite.ipynb
16-11-2020  19:41       114,273,560 Teams_windows_x64.exe
25-01-2022  21:15               179 test.log
18-01-2022  14:34                 0 test.txt
16-03-2022  21:25                22 test1.txt
25-01-2022  21:34               719 test2.log
18-01-2022  14:40                21 test2.txt
28-01-2022  11:31               154 test22.py
25-01-2022  21:38                 0 test3.log
18-01-2022  14:30                 0 text.txt
28-11-2021  09:11    <DIR>          Tracing
30-03-2022  15:47             1,858 Untitled.ipynb
04-12-2021  14:23            14,021 Untitled1.ipynb
11-01-2022  16:09            34,720 Untitled15.ipynb
12-01-2022  14:08             4,789 Untitled16.ipynb
05-12-2021  13:48            15,628 Untitled2.ipynb
18-12-2021  15:27            17,346 Untitled3.ipynb
22-01-2022  13:11            12,826 Untitled4.ipynb
19-12-2021  12:54             7,580 Untitled5.ipynb
21-12-2021  12:33             3,794 Untitled6.ipynb
23-03-2022  10:42                72 Untitled7.ipynb
23-03-2022  14:29                72 Untitled8.ipynb
16-01-2022  15:37    <DIR>          Videos
16-11-2020  19:16       102,233,600 webexapp.msi
27-12-2021  10:39            10,289 while.ipynb
              54 File(s)    218,332,973 bytes
              46 Dir(s)  117,418,115,072 bytes free

In [21]:
c.execute("insert into person_table values('prashant','prasantk065@gmail.com',23,22496)")
c.execute("insert into person_table values('rajeev','rajeevk065@gmail.com',21,22496)")
c.execute("insert into person_table values('nirmal','nirmalsinghk065@gmail.com',26,22496)")
c.execute("insert into person_table values('anand','anandk065@gmail.com',27,22496)")
c.execute("insert into person_table values('adarsh','adarshk065@gmail.com',24,35000)")

In [22]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 1E4D-DCE3

 Directory of C:\Users\PRASHANT KUMAR

14-04-2022  08:06    <DIR>          .
16-01-2022  13:18    <DIR>          ..
15-12-2019  12:13    <DIR>          .anaconda
14-02-2020  11:35    <DIR>          .android
17-01-2020  11:04    <DIR>          .AndroidStudio3.5
21-07-2020  17:20               145 .appletviewer
25-03-2022  10:52             1,010 .bash_history
29-06-2021  14:36    <DIR>          .cache
25-02-2022  09:33    <DIR>          .conda
15-10-2020  13:05                43 .condarc
08-02-2020  15:55    <DIR>          .config
28-11-2021  13:34    <DIR>          .continuum
14-06-2020  13:49    <DIR>          .dotnet
11-03-2020  18:33    <DIR>          .eclipse
17-01-2020  11:55                16 .emulator_console_auth_token
25-03-2022  09:44               214 .gitconfig
25-03-2022  09:04            12,288 .gitconfig.swp
17-01-2020  11:55    <DIR>          .gradle
07-02-2020  16:05    <DIR>          .idlerc
12-04-2022  16:44    <DIR>          .ipynb_checkpoints
15-12-2019  01:37    <DIR>          .ipython
19-12-2021  11:28    <DIR>          .jupyter
28-07-2020  20:31    <DIR>          .m2
14-12-2019  15:17    <DIR>          .nbi
29-06-2021  14:50    <DIR>          .p2
02-12-2021  09:25    <DIR>          .spyder-py3
11-03-2020  18:33    <DIR>          .tooling
25-03-2022  09:05               762 .viminfo
25-12-2021  16:01    <DIR>          .VirtualBox
14-12-2019  18:39    <DIR>          .vscode
13-03-2022  15:36    <DIR>          __pycache__
26-12-2021  09:38             3,504 21st dec(for,while).ipynb
24-08-2021  15:06    <DIR>          3D Objects
23-03-2022  17:10             7,566 Abstraction.ipynb
14-02-2020  12:38    <DIR>          AndroidStudioProjects
28-01-2022  11:39               149 arithmatic.py
04-04-2022  09:01            51,867 car.data
07-04-2022  16:34           628,633 carbon_nanotubes.csv
21-12-2021  12:45             7,578 conditional statement.ipynb
16-01-2022  15:37    <DIR>          Contacts
04-04-2022  12:44    <DIR>          Desktop
07-03-2022  18:09    <DIR>          Documents
07-04-2022  17:23    <DIR>          Downloads
29-06-2021  14:05    <DIR>          eclipse
29-06-2021  12:21    <DIR>          eclipse-workspace
02-02-2022  20:52            33,366 Exception Handling.ipynb
16-01-2022  15:37    <DIR>          Favorites
24-12-2021  14:54            13,457 for, while,lambda.ipynb
11-01-2022  16:25            34,720 function with argument,iterable,iterator.ipynb
29-12-2021  12:40            14,911 Function(23th Dec).ipynb
18-01-2022  16:02            67,764 generator,file operation.ipynb
01-04-2022  11:24            11,903 glass.data
16-10-2021  14:43    <DIR>          IBA_IOAPDATA
12-04-2022  18:00             8,192 ineuron.db
21-03-2022  15:51            51,131 Inheritance.ipynb
16-01-2022  15:37    <DIR>          Links
28-01-2022  12:37             8,176 modules and package.ipynb
07-04-2022  16:41            37,174 Mongodb.ipynb
16-01-2022  15:37    <DIR>          Music
13-03-2022  15:35               635 mydict.py
27-01-2022  11:26    <DIR>          OneDrive
13-03-2022  16:07             1,641 Oops(Part1).ipynb
13-03-2022  20:42            17,056 oops.ipynb
14-12-2019  15:55    <DIR>          Oracle
14-04-2022  08:01             8,192 person.db
14-04-2022  08:06                 0 person.db-journal
16-01-2022  15:37    <DIR>          Pictures
23-03-2022  17:10             9,704 polymorphism.ipynb
09-03-2022  09:11    <DIR>          PycharmProjects
25-03-2022  09:14    <DIR>          Python
19-01-2022  16:27            37,898 Questions.ipynb
16-01-2022  15:37    <DIR>          Saved Games
16-01-2022  15:37    <DIR>          Searches
14-12-2019  18:13    <DIR>          source
01-04-2022  13:05           124,230 sql connection(part-1).ipynb
04-04-2022  13:47           492,986 sql(part-2).ipynb
14-04-2022  08:04            22,219 SqlLite.ipynb
16-11-2020  19:41       114,273,560 Teams_windows_x64.exe
25-01-2022  21:15               179 test.log
18-01-2022  14:34                 0 test.txt
16-03-2022  21:25                22 test1.txt
25-01-2022  21:34               719 test2.log
18-01-2022  14:40                21 test2.txt
28-01-2022  11:31               154 test22.py
25-01-2022  21:38                 0 test3.log
18-01-2022  14:30                 0 text.txt
28-11-2021  09:11    <DIR>          Tracing
30-03-2022  15:47             1,858 Untitled.ipynb
04-12-2021  14:23            14,021 Untitled1.ipynb
11-01-2022  16:09            34,720 Untitled15.ipynb
12-01-2022  14:08             4,789 Untitled16.ipynb
05-12-2021  13:48            15,628 Untitled2.ipynb
18-12-2021  15:27            17,346 Untitled3.ipynb
22-01-2022  13:11            12,826 Untitled4.ipynb
19-12-2021  12:54             7,580 Untitled5.ipynb
21-12-2021  12:33             3,794 Untitled6.ipynb
23-03-2022  10:42                72 Untitled7.ipynb
23-03-2022  14:29                72 Untitled8.ipynb
16-01-2022  15:37    <DIR>          Videos
16-11-2020  19:16       102,233,600 webexapp.msi
27-12-2021  10:39            10,289 while.ipynb
              55 File(s)    218,340,380 bytes
              46 Dir(s)  117,381,586,944 bytes free

In [13]:
data=c.execute('select * from person_table')

In [14]:
for i in data:
    print(i)

('prashant', 'prasantk065@gmail.com', 23, 22496.0)
('rajeev', 'rajeevk065@gmail.com', 21, 22496.0)
('nirmal', 'nirmalsinghk065@gmail.com', 26, 22496.0)
('anand', 'anandk065@gmail.com', 27, 22496.0)
('adarsh', 'adarshk065@gmail.com', 24, 35000.0)
('prashant', 'prasantk065@gmail.com', 23, 22496.0)
('rajeev', 'rajeevk065@gmail.com', 21, 22496.0)
('nirmal', 'nirmalsinghk065@gmail.com', 26, 22496.0)
('anand', 'anandk065@gmail.com', 27, 22496.0)
('adarsh', 'adarshk065@gmail.com', 24, 35000.0)

In [28]:
db.commit()

In [29]:
db.close()

In [30]:
db=sqlite3.connect('ineuron.db')

In [31]:
c=db.cursor()

In [32]:
c.execute('drop table fsds')

In [33]:
c.execute('select * from fsds')

OperationalError: no such table: fsds

In [34]:
db.close()

In [2]:
db=sqlite3.connect('person.db')

In [3]:
c=db.cursor()

In [6]:
data=c.execute('select * from person_table limit 2')

In [7]:
for i in data:
    print(i)

('prashant', 'prasantk065@gmail.com', 23, 22496.0)
('rajeev', 'rajeevk065@gmail.com', 21, 22496.0)

In [8]:
db.close()

In [9]:
db=sqlite3.connect('joindb.db')

In [10]:
c=db.cursor()

In [11]:
c.execute('create table student(student_id int,student_name text,student_mailid text,marks int)')

In [14]:
c.execute('create table address(student_id int,pincode int,location text,nearby text,phone_no int)')

In [13]:
c.execute('drop table address')

In [16]:
c.execute('insert into student values(100,"prashant","prasank065@gmail.com",350)')
c.execute('insert into student values(101,"prashant","prasank065@gmail.com",350)')
c.execute('insert into student values(102,"prashant","prasank065@gmail.com",350)')
c.execute('insert into student values(103,"prashant","prasank065@gmail.com",350)')
c.execute('insert into student values(104,"prashant","prasank065@gmail.com",350)')
c.execute('insert into student values(105,"prashant","prasank065@gmail.com",350)')

In [17]:
c.execute("insert into address values(100,851123,'whitefield','ineuron office',123456789)")
c.execute("insert into address values(101,851123,'whitefield','ineuron office',123456789)")
c.execute("insert into address values(100,851123,'whitefield','ineuron office',123456789)")
c.execute("insert into address values(102,851123,'whitefield','ineuron office',123456789)")
c.execute("insert into address values(103,851123,'whitefield','ineuron office',123456789)")
c.execute("insert into address values(104,851123,'whitefield','ineuron office',123456789)")
c.execute("insert into address values(102,851123,'whitefield','ineuron office',123456789)")
c.execute("insert into address values(103,851123,'whitefield','ineuron office',123456789)")
c.execute("insert into address values(104,851123,'whitefield','ineuron office',123456789)")
c.execute("insert into address values(105,851123,'whitefield','ineuron office',123456789)")
c.execute("insert into address values(106,851123,'whitefield','ineuron office',123456789)")
c.execute("insert into address values(104,851123,'whitefield','ineuron office',123456789)")
c.execute("insert into address values(106,851123,'whitefield','ineuron office',123456789)")
c.execute("insert into address values(104,851123,'whitefield','ineuron office',123456789)")
c.execute("insert into address values(105,851123,'whitefield','ineuron office',123456789)")

In [18]:
for i in c.execute('select * from address'):
    print(i)

(100, 851123, 'whitefield', 'ineuron office', 123456789)
(101, 851123, 'whitefield', 'ineuron office', 123456789)
(100, 851123, 'whitefield', 'ineuron office', 123456789)
(102, 851123, 'whitefield', 'ineuron office', 123456789)
(103, 851123, 'whitefield', 'ineuron office', 123456789)
(104, 851123, 'whitefield', 'ineuron office', 123456789)
(102, 851123, 'whitefield', 'ineuron office', 123456789)
(103, 851123, 'whitefield', 'ineuron office', 123456789)
(104, 851123, 'whitefield', 'ineuron office', 123456789)
(105, 851123, 'whitefield', 'ineuron office', 123456789)
(106, 851123, 'whitefield', 'ineuron office', 123456789)
(104, 851123, 'whitefield', 'ineuron office', 123456789)
(106, 851123, 'whitefield', 'ineuron office', 123456789)
(104, 851123, 'whitefield', 'ineuron office', 123456789)
(105, 851123, 'whitefield', 'ineuron office', 123456789)

In [19]:
for i in c.execute('select * from student'):
    print(i)

(100, 'prashant', 'prasank065@gmail.com', 350)
(100, 'prashant', 'prasank065@gmail.com', 350)
(100, 'prashant', 'prasank065@gmail.com', 350)
(100, 'prashant', 'prasank065@gmail.com', 350)
(100, 'prashant', 'prasank065@gmail.com', 350)
(100, 'prashant', 'prasank065@gmail.com', 350)
(100, 'prashant', 'prasank065@gmail.com', 350)
(101, 'prashant', 'prasank065@gmail.com', 350)
(102, 'prashant', 'prasank065@gmail.com', 350)
(103, 'prashant', 'prasank065@gmail.com', 350)
(104, 'prashant', 'prasank065@gmail.com', 350)
(105, 'prashant', 'prasank065@gmail.com', 350)

In [20]:
data=c.execute('select * from student s left join address a on s.student_id=a.student_id')

In [21]:
for i in data:
    print(i)

(100, 'prashant', 'prasank065@gmail.com', 350, 100, 851123, 'whitefield', 'ineuron office', 123456789)
(100, 'prashant', 'prasank065@gmail.com', 350, 100, 851123, 'whitefield', 'ineuron office', 123456789)
(100, 'prashant', 'prasank065@gmail.com', 350, 100, 851123, 'whitefield', 'ineuron office', 123456789)
(100, 'prashant', 'prasank065@gmail.com', 350, 100, 851123, 'whitefield', 'ineuron office', 123456789)
(100, 'prashant', 'prasank065@gmail.com', 350, 100, 851123, 'whitefield', 'ineuron office', 123456789)
(100, 'prashant', 'prasank065@gmail.com', 350, 100, 851123, 'whitefield', 'ineuron office', 123456789)
(100, 'prashant', 'prasank065@gmail.com', 350, 100, 851123, 'whitefield', 'ineuron office', 123456789)
(100, 'prashant', 'prasank065@gmail.com', 350, 100, 851123, 'whitefield', 'ineuron office', 123456789)
(100, 'prashant', 'prasank065@gmail.com', 350, 100, 851123, 'whitefield', 'ineuron office', 123456789)
(100, 'prashant', 'prasank065@gmail.com', 350, 100, 851123, 'whitefield', 'ineuron office', 123456789)
(100, 'prashant', 'prasank065@gmail.com', 350, 100, 851123, 'whitefield', 'ineuron office', 123456789)
(100, 'prashant', 'prasank065@gmail.com', 350, 100, 851123, 'whitefield', 'ineuron office', 123456789)
(100, 'prashant', 'prasank065@gmail.com', 350, 100, 851123, 'whitefield', 'ineuron office', 123456789)
(100, 'prashant', 'prasank065@gmail.com', 350, 100, 851123, 'whitefield', 'ineuron office', 123456789)
(101, 'prashant', 'prasank065@gmail.com', 350, 101, 851123, 'whitefield', 'ineuron office', 123456789)
(102, 'prashant', 'prasank065@gmail.com', 350, 102, 851123, 'whitefield', 'ineuron office', 123456789)
(102, 'prashant', 'prasank065@gmail.com', 350, 102, 851123, 'whitefield', 'ineuron office', 123456789)
(103, 'prashant', 'prasank065@gmail.com', 350, 103, 851123, 'whitefield', 'ineuron office', 123456789)
(103, 'prashant', 'prasank065@gmail.com', 350, 103, 851123, 'whitefield', 'ineuron office', 123456789)
(104, 'prashant', 'prasank065@gmail.com', 350, 104, 851123, 'whitefield', 'ineuron office', 123456789)
(104, 'prashant', 'prasank065@gmail.com', 350, 104, 851123, 'whitefield', 'ineuron office', 123456789)
(104, 'prashant', 'prasank065@gmail.com', 350, 104, 851123, 'whitefield', 'ineuron office', 123456789)
(104, 'prashant', 'prasank065@gmail.com', 350, 104, 851123, 'whitefield', 'ineuron office', 123456789)
(105, 'prashant', 'prasank065@gmail.com', 350, 105, 851123, 'whitefield', 'ineuron office', 123456789)
(105, 'prashant', 'prasank065@gmail.com', 350, 105, 851123, 'whitefield', 'ineuron office', 123456789)

In [22]:
data=c.execute('select * from student s right join address a on s.student_id=a.student_id')

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

In [24]:
data=c.execute('select * from address s left join student a on s.student_id=a.student_id')

In [25]:
for i in data:
    print(i)

(100, 851123, 'whitefield', 'ineuron office', 123456789, 100, 'prashant', 'prasank065@gmail.com', 350)
(100, 851123, 'whitefield', 'ineuron office', 123456789, 100, 'prashant', 'prasank065@gmail.com', 350)
(100, 851123, 'whitefield', 'ineuron office', 123456789, 100, 'prashant', 'prasank065@gmail.com', 350)
(100, 851123, 'whitefield', 'ineuron office', 123456789, 100, 'prashant', 'prasank065@gmail.com', 350)
(100, 851123, 'whitefield', 'ineuron office', 123456789, 100, 'prashant', 'prasank065@gmail.com', 350)
(100, 851123, 'whitefield', 'ineuron office', 123456789, 100, 'prashant', 'prasank065@gmail.com', 350)
(100, 851123, 'whitefield', 'ineuron office', 123456789, 100, 'prashant', 'prasank065@gmail.com', 350)
(101, 851123, 'whitefield', 'ineuron office', 123456789, 101, 'prashant', 'prasank065@gmail.com', 350)
(100, 851123, 'whitefield', 'ineuron office', 123456789, 100, 'prashant', 'prasank065@gmail.com', 350)
(100, 851123, 'whitefield', 'ineuron office', 123456789, 100, 'prashant', 'prasank065@gmail.com', 350)
(100, 851123, 'whitefield', 'ineuron office', 123456789, 100, 'prashant', 'prasank065@gmail.com', 350)
(100, 851123, 'whitefield', 'ineuron office', 123456789, 100, 'prashant', 'prasank065@gmail.com', 350)
(100, 851123, 'whitefield', 'ineuron office', 123456789, 100, 'prashant', 'prasank065@gmail.com', 350)
(100, 851123, 'whitefield', 'ineuron office', 123456789, 100, 'prashant', 'prasank065@gmail.com', 350)
(100, 851123, 'whitefield', 'ineuron office', 123456789, 100, 'prashant', 'prasank065@gmail.com', 350)
(102, 851123, 'whitefield', 'ineuron office', 123456789, 102, 'prashant', 'prasank065@gmail.com', 350)
(103, 851123, 'whitefield', 'ineuron office', 123456789, 103, 'prashant', 'prasank065@gmail.com', 350)
(104, 851123, 'whitefield', 'ineuron office', 123456789, 104, 'prashant', 'prasank065@gmail.com', 350)
(102, 851123, 'whitefield', 'ineuron office', 123456789, 102, 'prashant', 'prasank065@gmail.com', 350)
(103, 851123, 'whitefield', 'ineuron office', 123456789, 103, 'prashant', 'prasank065@gmail.com', 350)
(104, 851123, 'whitefield', 'ineuron office', 123456789, 104, 'prashant', 'prasank065@gmail.com', 350)
(105, 851123, 'whitefield', 'ineuron office', 123456789, 105, 'prashant', 'prasank065@gmail.com', 350)
(106, 851123, 'whitefield', 'ineuron office', 123456789, None, None, None, None)
(104, 851123, 'whitefield', 'ineuron office', 123456789, 104, 'prashant', 'prasank065@gmail.com', 350)
(106, 851123, 'whitefield', 'ineuron office', 123456789, None, None, None, None)
(104, 851123, 'whitefield', 'ineuron office', 123456789, 104, 'prashant', 'prasank065@gmail.com', 350)
(105, 851123, 'whitefield', 'ineuron office', 123456789, 105, 'prashant', 'prasank065@gmail.com', 350)

In [26]:
for i in c.execute('select * from student'):
    print(i)

(100, 'prashant', 'prasank065@gmail.com', 350)
(100, 'prashant', 'prasank065@gmail.com', 350)
(100, 'prashant', 'prasank065@gmail.com', 350)
(100, 'prashant', 'prasank065@gmail.com', 350)
(100, 'prashant', 'prasank065@gmail.com', 350)
(100, 'prashant', 'prasank065@gmail.com', 350)
(100, 'prashant', 'prasank065@gmail.com', 350)
(101, 'prashant', 'prasank065@gmail.com', 350)
(102, 'prashant', 'prasank065@gmail.com', 350)
(103, 'prashant', 'prasank065@gmail.com', 350)
(104, 'prashant', 'prasank065@gmail.com', 350)
(105, 'prashant', 'prasank065@gmail.com', 350)

In [30]:
c.execute('delete from student where student_id<101')

In [31]:
for i in c.execute('select * from student'):
    print(i)

(101, 'prashant', 'prasank065@gmail.com', 350)
(102, 'prashant', 'prasank065@gmail.com', 350)
(103, 'prashant', 'prasank065@gmail.com', 350)
(104, 'prashant', 'prasank065@gmail.com', 350)
(105, 'prashant', 'prasank065@gmail.com', 350)

In [34]:
data=c.execute('update student set student_id=1000 where student_id=101')

In [36]:
data=c.execute('select * from student')

In [37]:
data.fetchall()

[(1000, 'prashant', 'prasank065@gmail.com', 350),
 (102, 'prashant', 'prasank065@gmail.com', 350),
 (103, 'prashant', 'prasank065@gmail.com', 350),
 (104, 'prashant', 'prasank065@gmail.com', 350),
 (105, 'prashant', 'prasank065@gmail.com', 350)]

In [38]:
db.close()

In [39]:
l=[1,2,3,4,5,6]

In [40]:
l1=[]
for i in l:
    l1.append(i+5)

In [41]:
l1

[6, 7, 8, 9, 10, 11]

In [42]:
[i+5 for i in l]

[6, 7, 8, 9, 10, 11]

In [43]:
def test(a):
    return a+5

In [45]:
list(map(test,l))

[6, 7, 8, 9, 10, 11]

In [46]:
def test1(a):
    return a*534+435

In [47]:
list(map(test1,l))

[969, 1503, 2037, 2571, 3105, 3639]

In [48]:
l1=['234','345','543','5435','543','5435']

In [49]:
def test2(a):
    return int(a)

In [50]:
test2('435')

435

In [51]:
list(map(test2,l1))

[234, 345, 543, 5435, 543, 5435]

In [53]:
list(map(lambda x: int(x),l1))

[234, 345, 543, 5435, 543, 5435]

In [54]:
list(map(lambda x:x+5,l))

[6, 7, 8, 9, 10, 11]

In [55]:
l

[1, 2, 3, 4, 5, 6]

In [56]:
l=[4,5,6,7,78,8,78]

In [61]:
def test4(a):
    if a%2==0:
        return a

In [63]:
[i for i in l if i%2==0]

[4, 6, 78, 8, 78]

In [65]:
list(filter(test4,l))

[4, 6, 78, 8, 78]

In [67]:
list(filter(lambda x:x%2==0,l))

[4, 6, 78, 8, 78]

In [68]:
from functools import reduce

In [70]:
l=[3,4,5,6,7,3,8]

In [71]:
sum(l)

36

In [75]:
def test5(a,b):
    return a*b

In [76]:
reduce(test5,l)

60480

In [77]:
def test5(a,b):
    return a/b

In [78]:
reduce(test5,l)

0.0001488095238095238

In [79]:
def test5(a,b,c):
    return a*b*c

In [80]:
reduce(test5,l)

TypeError: test5() missing 1 required positional argument: 'c'

In [81]:
l=[3]

In [82]:
reduce(test5,l)

3

In [83]:
l=[]

In [84]:
reduce(test5,l)

TypeError: reduce() of empty sequence with no initial value

In [86]:
l=[3,4,5,6,7,3,8]

In [87]:
reduce(lambda x,y:x+y,l)

36

In [88]:
reduce(lambda x,y:x/y,l)

0.0001488095238095238

In [89]:
l=[1,2,3,4,5]
l1=[4,5,6,7,7]

In [90]:
list(zip(l,l1))

[(1, 4), (2, 5), (3, 6), (4, 7), (5, 7)]

In [91]:
l=[1,2,3,4,5]
l1=[4,5,6,7,7]
l2=['prashant','sudhanshu','sunny','krish']

In [92]:
list(zip(l,l1,l2))

[(1, 4, 'prashant'), (2, 5, 'sudhanshu'), (3, 6, 'sunny'), (4, 7, 'krish')]

Question:-
1.Try to find out a count of each and every word in a respective file return list of tuple with word and its respective
2.Try to perform a reduce operation to get a count of all the word starting with same alphabet
3.Try to filter out all the words from dataset.ex-.001.abstract=abstract,.002=delete
4.Create a tuple set of all the records available all the five file from below and then store it in sqlite DB.